body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e3f2fd;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor formulario para log in sing up */
.container-form {
    background: rgb(224, 215, 215);
    padding: 40px;
    width: 380px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 10px black;
}

input {
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 12px;
    width: 70%;
    background-color: #43afda;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

button:hover {
    background-color: #3399cc;
    transform: scale(1.01);
}

.singup-link {
    color: black;
    text-decoration: none; 
}

.singup-link:hover {
    text-decoration: underline;
}
