/* Estilos de la pagina principal */
.header {
    background-color: rgb(250, 180, 49);
    padding: 20px;
    color: white;
}

.header .logo h1 {
    font-size: 2rem;
}

.header nav ul {

}

.header nav ul li {

}

.header nav ul li a {

}

.intro {

}

.intro h2 {

}

.intro p {

}

.product-list {

}

.product-list {
}

.product-button {

}

.product-button:hover {

}


.footer {
    
}